html, body{
    margin: 0;
    padding: 0;
}
canvas{
    background: #eee;
    display: block;
    margin: auto;
}
.gameAccesories{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 500px;
    align-items: center;
}
.bombresettime{
    flex: 33,33%;
}